extends _templates/layout.jade


block content
	#canvas-container
		//- canvas

	#instructions
		header
			h1 Brushes Letrismo
			p 
				|Canvas desarrollado sobre 
				strong p5.js 
				|para crear pinceles imposibles y experimentar con ellos.

			p Prototipo básico, pinceles avanzados en desarrollo.

		section
			h2 A continuación se enlistan los comandos disponibles:

			ul
				li
					h3 Limpiar canvas
					p Presiona la tecla 'esc'.

				li
					h3 Usar otro pincel/sketch
					p Presiona la tecla 'espacio'.
					
				li
					h3 Pintar con pincel seleccionado
					p Hacer 'click' sostenido.
					
				li
					h3 Descargar imagen creada
					p Presiona la tecla 's'.

		button#close-info X


	#controls
		h3._subtitle Comandos:
		ul
			li
				h3 Limpiar canvas
				p 'esc'

			li
				h3 Usar otro pincel
				p 'espacio'
				
			li
				h3 Pintar
				p 'click'
				
			li
				h3 Descargar imagen
				p 's'
				
			li
				h3
					a#show-info(href='#') Mostrar info
